# Flash Attention 版本限制：要求 >=2.5.0 且 <2.7.0
flash-attn==2.6.3

# huggingface hub
huggingface_hub==1.3.0

# datatrove 需从特定分支安装（Git 依赖）,或git clone进行编译
git+https://github.com/huggingface/datatrove.git@nouamane/avoid-s3